---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Acasa"
  description={"site.description"}
  ogTitle="Da"
  navbarOption="Acasa"
>
  <h1>{"home.title"}</h1>
</Layout>
<style></style>
