---
import Layout from "../layouts/Layout.astro";
import Awards from "../views/Awards.astro";
import Hero from "../views/Hero.astro";
---

<Layout
  title="Acasa"
  description={"site.description"}
  ogTitle="Da"
  navbarOption="Acasa"
>
  <section>
    <Hero />
  </section>
  <section class="awards">
    <Awards />
  </section>
</Layout>
<style lang="scss">
  @use "./../style/index.scss" as *;

  section:nth-child(2n + 1) {
    background-color: $cl-bg-accents;
  }
  .awards {
    margin-top: -7.5%;
  }
</style>
